<div class="header">
  <nav class="nav">
    <div class="container">
      <a routerLink="/" class="navlink large thqLink">Soft UI Design System</a>
      <div class="menu">
        <a routerLink="/" class="navlink1 large thqLink">Home</a>
        <a routerLink="/app-page2" class="navlink2 large thqLink">Profile</a>
        <a routerLink="/app-page1" class="navlink3 large thqLink">
          Coming Soon
        </a>
      </div>
      <div class="container1">
        <div class="container2">
          <primary-pink-button button="buy now"></primary-pink-button>
        </div>
        <svg viewBox="0 0 1024 1024" class="icon">
          <path
            d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
          ></path>
        </svg>
      </div>
    </div>
  </nav>
</div>
